*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/build
/shared/core-base/build
/shared/core-network/build
/shared/core-database/build
/shared/core-test/build
/shared/feature-planet-list/build
/shared/feature-planet-detail/build
iosApp/Pods
app/release